# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Mario Merlo
email = 18537290+MrVideo@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
